<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.store.mapper.CartMapper">

    <insert id="insert" parameterType="com.cy.store.entity.Cart">
        INSERT INTO t_cart (uid, pid, price, num, created_user, created_time, modified_user, modified_time)
        VALUES (#{uid}, #{pid}, #{price}, #{num}, #{createdUser}, now(), #{modifiedUser}, now())
    </insert>

    <select id="listByUid" resultType="com.cy.store.entity.Cart">
        SELECT cid, uid, pid, price, num FROM t_cart WHERE uid=#{uid}
    </select>

    <update id="updateNum">
        UPDATE t_cart SET num=#{num}, modified_time=now() WHERE cid=#{cid}
    </update>

    <delete id="delete">
        DELETE FROM t_cart WHERE cid=#{cid}
    </delete>

    <select id="findByCid" resultType="com.cy.store.entity.Cart">
        SELECT cid, uid, pid, num FROM t_cart WHERE cid=#{cid}
    </select>

</mapper>