<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.store.mapper.OrderMapper">

    <insert id="insert" parameterType="com.cy.store.entity.Order" useGeneratedKeys="true" keyProperty="oid">
        INSERT INTO t_order (
            uid, recvName, recvPhone, recvProvince, recvCity, recvArea, recvAddress,
            totalPrice, status, orderTime, payTime,
            createdUser, createdTime, modifiedUser, modifiedTime
        ) VALUES (
            #{uid}, #{recvName}, #{recvPhone}, #{recvProvince}, #{recvCity}, #{recvArea}, #{recvAddress},
            #{totalPrice}, #{status}, #{orderTime}, #{payTime},
            #{createdUser}, #{createdTime}, #{modifiedUser}, #{modifiedTime}
        )
    </insert>

    <select id="findByUid" resultType="com.cy.store.entity.Order">
        SELECT oid, uid, recvName, recvPhone, recvProvince, recvCity, recvArea,
               recvAddress, totalPrice, status, orderTime, payTime,
               createdUser, createdTime, modifiedUser, modifiedTime
        FROM t_order
        WHERE uid = #{uid}
        ORDER BY oid DESC
    </select>

    <select id="findById" resultType="com.cy.store.entity.Order">
        SELECT oid, uid, recvName, recvPhone, recvProvince, recvCity, recvArea,
               recvAddress, totalPrice, status, orderTime, payTime
        FROM t_order
        WHERE oid = #{oid}
    </select>

    <update id="updateStatus">
        UPDATE t_order
        SET status = #{status}, modifiedTime = #{modifiedTime}
        WHERE oid = #{oid}
    </update>

</mapper>